{% extends 'index.html' %}
{% block body %}
<div class='button'>
    <a href='/create_product' class="link-button">
        <p>Criar novo</p>
    </a>
</div>
<div>
    <br />
    <table>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Ação</th>
        </tr>
        {% for product in list %}
                <tr>
                    <td>{{ product.id_ }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price }}</td>
                    <td>
                        <a href='/products/{{ product.id_ }}' class="link-button">
                            <p>Editar</p>
                        </a>
                        <a href='/products/{{ product.id_ }}/delete' class="link-button">
                            <p>Deletar</p>
                        </a>
                    </td>
                </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}