{% extends 'index.html' %}
{% block body %}
<div class='button'>
    <a href='/create_marketplace' class="link-button">
        <p>Criar novo</p>
    </a>
</div>
<div>
    <br />
    <table>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Ação</th>
        </tr>
        {% for marketplace in list %}
                <tr>
                    <td>{{ marketplace.id_ }}</td>
                    <td>{{ marketplace.name }}</td>
                    <td>{{ marketplace.description }}</td>
                    <td>
                        <a href='/marketplaces/{{ marketplace.id_ }}' class="link-button">
                            <p>Editar</p>
                        </a>
                        <a href='/marketplaces/{{ marketplace.id_ }}/delete' class="link-button">
                            <p>Deletar</p>
                        </a>
                    </td>
                </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}