{% extends 'index.html' %}
{% block body %}
<div>
    <br />
    <table>
        <tr>
            <th>Timestamp</th>
            <th>Operação</th>
            <th>Descrição</th>
        </tr>
        {% for log in list %}
            {% if log.operation == "get" %}
                <tr style="color: blue">
            {% endif %}

            {% if log.operation == "set" %}
                <tr style="color: green">
            {% endif %}
            
            {% if log.operation == "update" %}
                <tr style="color: yellow">
            {% endif %}
            
            {% if log.operation == "delete" %}
                <tr style="color: red">
            {% endif %}
                    <td>{{ log.timestamp }}</td>
                    <td>{{ log.operation }}</td>
                    <td>{{ log.description }}</td>
                </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}