{% extends 'index.html' %}
{% block body %}
<div class='button'>
    <a href='/create_marketplace' class="link-button">
        <p>Criar novo</p>
    </a>
</div>
<div>
    <br />
    <table>
        <tr>
            <th>Código</th>
            <th>Descrição</th>
        </tr>
        {% for marketplace in list %}
                <tr>
                    <td>{{ marketplace[0] }}</td>
                    <td>{{ marketplace[1] }}</td>
                </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}