{% extends 'index.html' %}
{% block body %}
<div class='button'>
    <a href='/create-product' class="link-button">
        <p>Criar novo</p>
    </a>
</div>
<div>
    <br />
    <table>
        <tr>
            <th>Código</th>
            <th>Descrição</th>
            <th>Preço</th>
        </tr>
        {% for product in list %}
                <tr>
                    <td>{{ product[0] }}</td>
                    <td>{{ product[1] }}</td>
                    <td>{{ product[2] }}</td>
                </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}