{% extends 'index.html' %}
{% block body %}
<div class='button'>
    <a href='/create_seller' class="link-button">
        <p>Cadastrar Seller</p>
    </a>
</div>
<div>
    <br />
    <table>
        <tr>
            <th>Código</th>
            <th>Nome Completo</th>
            <th>Telefone</th>
            <th>E-mail</th>
            <th>Ação</th>
        </tr>
        {% for seller in list %}
                <tr>
                    <td>{{ seller.id }}</td>
                    <td>{{ seller.fullname }}</td>
                    <td>{{ seller.phone }}</td>
                    <td>{{ seller.email }}</td>
                    <td>
                        <a href='/sellers/{{ seller.id }}' class="link-button">
                            <p>Editar</p>
                        </a>
                    </td>
                </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}